.pagetop {
    display:flex;
    justify-content: space-between;
}

.pagetop h1 {
    font-family: sans-serif;
    margin: 12px;
    font-size: 35px;
}
nav {
    background: orange;
}
nav a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}